name: Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]
jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      env:
        ACTIVESUPPORT: '8.1'
      with:
        ruby-version: '3.4'
        bundler-cache: true
        cache-version: '8.1'
    - name: Rubocop
      run: bundle exec rubocop
  rspec:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        activesupport: ['7.1', '7.2', '8.0', '8.1']
        ruby: ['3.3', '3.4']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        cache-version: ${{ matrix.activesupport }}
      env:
        ACTIVESUPPORT: ${{ matrix.activesupport }}
    - name: Rspec
      run: bundle exec rspec
